<div class="ui middle aligned center aligned grid container">
    <br/>
    <h2 class="ui teal image header">
        <img src="/images/favicon.ico" class="image"/>
        <div class="ui large header">
            New-Medium - Online publishing platform
        </div>
    </h2>
</div>

<div>
    <br/>
</div>

<div class="ui fluid six item menu">
  <div class="item">
    <div class="ui button">
        <i class="home icon"></i>
        <a href="/blogs">Home</a>    
    </div>
  </div>
  <div class="item">
    <div class="ui button">
        <i class="lock icon"></i>
        <a href="/login">Login</a>    
    </div>
  </div>
  <div class="item">
    <div class="ui button">
        <i class="lock open icon"></i>
        <a href="/logout">Logout</a>    
    </div>
  </div>
  <div class="item">
       <div class="ui button">
          <i class="user plus icon"></i>
          <a href="/signup">Signup</a>    
       </div>
  </div>
  <div class="item">
       <div class="ui button">	
         <i class="file alternate outline icon"></i>
          <a href="/blogs/new">Write a post</a>
       </div>
  </div>

  <div class="item">
       <div class="ui button">	
            <i class="envelope outline icon"></i>
            <a href = "mailto:hesenova.aynur@gmail.com ?subject = Feedback&body = Message">
               Contact
            </a>
       </div>
  </div>  

</div>

<div>
        <br/>
</div>
